<div id="topbox">
    <h2 style="margin-left: 20px">{{formtitle}}</h2>
    <form method="post" action="{{action}}">
        <input type="hidden" name="hidden_1" value="{{hidden_1}}">
        <input type="hidden" name="hidden_2" value="{{hidden_2}}">
        {{#if url}}
            <p style="margin-left: 20px">
                <b>URL:</b> <input id="url" type="text" name="url" size="100" value="{{url}}" >
            </p>
        {{/if}}
        <p style="margin-left: 20px">
            <b>Label</b><br/>
            <input type="text" size="100" name="title" placeholder="{{labelplaceholder}}" value="{{formlabel}}">
        </p>
        <div style="margin-left: 20px; ">

            <b>Details</b><br/>
            <textarea rows="10" cols="100" name="details" id="editor1" placeholder="{{detailsplaceholder}}" >
                {{formdetails}}
            </textarea>
            <script>
              CKEDITOR.replace( 'editor1' );
            </script>
        </div>
        <p style="margin-left: 20px">
            <button type="submit" class="btn btn-success">Save</button>
            &nbsp;<a href="/" title="cancel" class="btn">Cancel</a>
        </p>
    </form>
</div>