<!-- active node -->
<div id="topbox">
    <h2>{{result.statement}}</h2>
    <p>
        {{{result.details}}}
    </p>
</div>
<!-- left-right scrollable container -->
<div class="columnscroller">
    <!-- column headers -->
    <div class="columncontainer">
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/issue.png">Question
                <a href="/conversation/newquestion/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/position.png">Answer
                <a href="/conversation/newanswer/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/plus.png">Pro
                <a href="/conversation/newpro/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/minus.png">Con
                <a href="/conversation/newcon/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/note.png">Notes
                <a href="/conversation/newnote/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/ibis/reference.png">References
                <a href="/conversation/newreference/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
            </div>
            <div class="column" style="text-align: center;">
                <img class="headerimage" src="/images/tag.png">Tags
                <a href="/tags/newtag/{{result.id}}"><img class="respond" src="/images/respond_sm.png"></a>
            </div>
    </div>
    <!-- column data -->
    <div class="datacontainer">
        <div class="datacolumn">
            {{#each result.questions}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn" >
            {{#each result.answers}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.proargs}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}

        </div>
        <div class="datacolumn">
            {{#each result.conargs}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.notes}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.references}}
                <div class="node">
                    <a style="margin-left:4px;" href="/conversation/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>
        <div class="datacolumn">
            {{#each result.tags}}
                <div class="node">
                    <a style="margin-left:4px;" href="/tags/gettag/{{id}}">{{statement}}</a>
                </div>
            {{/each}}
        </div>

    </div>
</div>
